
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to "coffee shop", root_path, id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Coffee shop <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Coffee shop </a>
          </li>

        <% if admin_signed_in? %>
          <li><%#= link_to "", '/new', class: "nav-link" %></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">


              <%= link_to "Déconnexion", destroy_admin_session_path, method: :delete, class: "dropdown-item" %>


            </div>
          </li>

        <% else %>
          <li><%= link_to "Connexion", admin_session_path, class: "nav-link" %></li>
        <% end %>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="rien" aria-label="Rien">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rien</button>
        </form>
      </div>
    </nav>